<form action="/results" method="GET">
    <div class="searchbar">
      <input type="text" class="form-control searchbox" placeholder="Search a location or zipcode" name="location">
      <input type="submit" class="searchicon" value="ðŸ”">
    </div>
</form>