body {
    background: url(../img/forest.jpeg);
    background-size: cover;
    background-position: 0 69px;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    color: white;
    flex-wrap: wrap;
    align-items: center;
}
nav li {
    display: inline;
    margin: 0 10px;
    line-height: 4;
}
nav ul {
    list-style: none;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: none;
    color: yellow;
}
.icon {
    height: 50px; 
    border-radius: 25px;
    margin: 0 10px;

}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.well {
    background: rgba(255,255,255,0.8);
    color: black;
    margin: 10px auto;
}
.alert {
    margin-top: 10px;
    margin-bottom: -10px;
    border-radius: 10px;
    color: white
}
.red {
    background: red;
}
.green {
    background: green;
}
.profile img {
    height: 250px;
    width: 250px;
    border-radius: 175px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.searchbox {
    background: rgba(255,255,255,0.85);
    text-align: center;
}
.searchicon {
    background: none;
    border: 0;
}
.welcome {
    margin-top: 10%;
}
.dark {
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    color: white;
    border: 0;
}
.dark h2 {
    font-size: 4em;
}
.dark h4 {
    font-size: 2em;
}
.species {
    font-style: italic;
}