body {
    background: url(../img/forest.jpeg);
    background-size: 100vw;
    background-position: 0;
    background-attachment: fixed;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    color: white;
    flex-wrap: wrap;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
nav li {
    display: inline;
    margin: 0 10px;
    line-height: 4;
}
nav ul {
    list-style: none;
    margin: 0;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: none;
    color: yellow;
}
.wrap-buttons {
    display: flex;
    justify-content: space-around;
}
.icon {
    height: 50px; 
    width: 50px;
    border-radius: 25px;
    margin: 0 10px;
    display: inline-block;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.well {
    background: rgba(255,255,255,0.8);
    color: black;
    margin: 10px auto;
}
.alert {
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    color: white
}
.red {
    background: red;
}
.green {
    background: green;
}
.profile {
    width: 288px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    margin-right: 25px;
}
.profile-img {
    height: 250px;
    width: 250px;
    border-radius: 175px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.searchbox {
    background: rgba(255,255,255,0.85);
    text-align: center;
}
.searchicon {
    background: none;
    border: 0;
}
.welcome {
    margin-top: 10%;
}
.dark {
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    color: white;
    border: 0;
}
.dark h2 {
    font-size: 4em;
}
.dark h4 {
    font-size: 2em;
}
.species {
    font-style: italic;
}
.narrow {
    float:left;
    width: 215px;
    height: 303px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.narrow-img {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    background-size: cover;
    margin: 0 auto;
}
.narrow-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.round-img {
    border-radius: 50%;
}
.vernacular-name {
    text-transform: capitalize;
}
.favorites {
    height: 300px;
    justify-content: space-evenly;
}
.favorites p {
    text-align: right;
    margin: 0;
    margin-bottom: -15px;
    font-size: 2em;
}
.favorites form {
    padding-top: 10px;
}
.form-link {
    font-size: 16px;
    color: #324aa8;
    background: none;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-link:hover {
    color: #1b1b8c;
    text-decoration: underline;
}
.favorites-header {
    width: 75%;
    height: 75px;
    text-align: left;
}
.table {
    background: lightgray;
    border-radius: 20px;
    max-width: 100%;
}
.wide {
    overflow-x: auto;
}
.show-info {
    float: left;
    width: 300px;
    padding-right: 10px;
}
.mine {
    width: 300px;
}
.highlight {
    /* background: rgba(240,255,0,0.5); */
    color: white;
    background: #3772b6;
}
footer {
    margin-top: 80px;
    color: black;
    text-align: center;
}
@media screen and (max-width: 800px) {
    body {
        background: url(../img/forest-tall.jpeg);
        background-size: 100vw;
        background-position: 0;
        background-attachment: fixed;
    }
}