<% include ../partials/searchbar %>

<div class="well dark">
    <h4>Did you mean...</h4>
</div>
<div class="results">
    <% results.forEach(result => { %>
        <div class="well narrow">
            <a href="/results?location=<%=result.location%>">
                <h4><%= result.location %></h4>
            </a>
        </div>
    <% }) %>
</div>