<% include ../partials/searchbar %>

<div class="well dark">
    <% if (results.length < 1) { %>
        <h4>Sorry, no locations found</h4>
    <% } else { %>
        <h4>Did you mean...</h4>
    <% } %>
</div>
<% results.forEach((result, index) => { %>
    <div class="well">
        <form method="GET" action="/results">
            <input type="hidden" name="location" value="<%= query %>">
            <input type="hidden" name="index" value="<%= index %>">
            <input type="submit" class="form-link" value="<%= result.location %>">
        </form>
    </div>
<% }) %>
